/* color de fondo */
body{
   background: #00a8fc;
   background: -moz-linear-gradient(-45deg, #8EA3AD 0%, #B2D5E0 52%, #198DA1 100%);
   background: -webkit-linear-gradient(-45deg, #8EA3AD 0%, #B2D5E0 52%, #198DA1 100%);
   background: linear-gradient(135deg, #8EA3AD 0%, #B2D5E0 52%, #198DA1 100%);
}   

/* BARRA DE NAVEGACION */
.navbar-collapse {
    display: flex;
    justify-content: end;
    height: 3.3rem;
    font-size: 1.3rem;
    text-align: center;
}
.navbar-brand {
    font-size: 1.5rem;
    display: flex;
    gap: .5rem;
    
}
#logo {
    height: 2.5rem;
    width: 2.5rem;
}
.navbar-nav {
    gap: 1rem;
}
.nav-icono-login {
    height: 2rem;
}
.nav-icono-carrito {
    height: 2rem;
}
.nav-icono-buscador {
    height: 2rem;
}
.nav-iconos {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar-left {
    font-size: .8em;
}
.navbar-right {
    font-size: 1rem;
}
.buscadornav {
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
} 

/*  CARRITO */
#carrito{
   min-width: 400px;
}
.submenu {
   position: relative;
}
.submenu #carrito {
   display: none;
}
.submenu:hover #carrito {
   display: block;
   color: black;
   position: absolute;
   right: 0;
   top: 100%;
   z-index: 1;
   background-color: white;
   padding: .7rem;
   border-radius: 1rem;
   -webkit-box-shadow: 1px 4px 15px 0px #000000; 
   box-shadow: 1px 4px 15px 0px #000000;
}
.vacio {
   padding: 1rem;
   background-color: white;
   text-align: center;
   border-radius: 1rem;
}
.container-button-vaciar {
   margin-top: 1rem;
   background-color: black;
   color: white;
   border-radius: .7rem;
   padding: 1rem 0rem;
}
.button-vaciar {
   height: 40px;
   width: 90%;
   border-radius: 0.7rem;
   margin-top: 20px;
   color: white;
}

.button-vaciar:hover{
   transition:all .5s ease-in-out;
   height: 40px;
   width: 90%;
   border-radius: 0.7rem;
   margin-top: 20px;
   color: rgb(0, 0, 0)!important;
   background-color: white!important;
   border: #000000 1px solid;
}
.button-finalizar{
   height: 40px;
   width: 90%;
   border-radius: 0.7rem;
   margin-top: 20px;
   color: white;
}

.button-finalizar:hover{
   transition:all .5s ease-in-out;
   height: 40px;
   width: 90%;
   border-radius: 0.7rem;
   margin-top: 20px;
   color: rgb(0, 0, 0)!important;
   background-color: white!important;
   border: #000000 1px solid;
}

.iconoEliminar:hover {
   transform: scale(1.3); 
   z-index: 1000;
 }
/*  FOOTER  */
.rrss{
    width: 30px; 
    height: 30px; 
    margin-bottom: 5px;
    margin-left: 5px;
 }
 
 a {
    cursor: pointer;
    text-decoration: none;
 }
 
 .contenedor-redes-sociales {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
 }
 
 .contenedor-redes-sociales a {
    position: relative;
    display: inline-block;
    height: 36px;
    width: 160px;
    line-height: 35px;
    padding: 0;
    color: #fff;
    border-radius: 50px;
    background: #fff;
    margin: 5px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
 }
 
 .contenedor-redes-sociales a:hover span.circulo {
    left: 100%;
    margin-left: -35px;
    background: #fff;
 }
 
 .contenedor-redes-sociales a:hover span.titulo {
    opacity: 0;
 }
 
 .contenedor-redes-sociales a:hover span.titulo-hover {
    opacity: 1;
    color: black;
 }
 
 .contenedor-redes-sociales a span.titulo-hover {
    opacity: 0;
 }
 
 .contenedor-redes-sociales a span.circulo {
    display: block;
    color: #fff;
    position: absolute;
    float: left;
    margin: 3px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    transition: all 0.5s;
    border-radius: 50%;
 }
 
 .contenedor-redes-sociales a span.circulo i {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
 }
 
 .contenedor-redes-sociales a span.titulo, .contenedor-redes-sociales a span.titulo-hover {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    transition: .5s;
 }
 
 .contenedor-redes-sociales a span.titulo {
    right: 15px
 }
 
 .contenedor-redes-sociales a span.titulo-hover {
    left: 15px
 }
 

 /*Colores de los botones*/
 
 .contenedor-redes-sociales .facebook {
    border: 2px solid #3b5998;
 }
 
 .contenedor-redes-sociales .facebook:hover, .contenedor-redes-sociales .facebook span.circulo {
    background: white;
 }
 
 .contenedor-redes-sociales .facebook:hover span.circulo, .contenedor-redes-sociales .facebook span.titulo {
    color: #3b5998;
 }
 
 .contenedor-redes-sociales .twitter {
    border: 2px solid #1da1f2;
 }
 
 .contenedor-redes-sociales .twitter:hover, .contenedor-redes-sociales .twitter span.circulo {
    background: white
 }
 
 .contenedor-redes-sociales .twitter:hover span.circulo, .contenedor-redes-sociales .twitter span.titulo {
    color: #1da1f2;
 }
 
 .contenedor-redes-sociales .gplus {
    border: 2px solid #3f729b;
 }
 
 .contenedor-redes-sociales .gplus:hover, .contenedor-redes-sociales .gplus span.circulo {
    background: white;
 }
 
 .contenedor-redes-sociales .gplus:hover span.circulo, .contenedor-redes-sociales .gplus span.titulo {
    color: #3f729b;
 }
 
 /*Mediaqueries*/
 
 @media screen and (max-width: 480px) {
    .contenedor-redes-sociales a {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
 }

 @media (max-width: 992px) {
   .nav-iconos {
      visibility: visible;
   }
}