/* header{
    margin: 0%;
}

.navbar-custom{
    background-color: #FD841F !important;
} 

.h1{
    margin-bottom: 0;
}

main{
    background-color: #C6EBC5 !important;
    margin: 0px;
} */

/* .carousel-inner>.active {
    /*margin: 5px;
    display: flex;
    justify-content: center;
    height: 400px;
}*/

body{
    background-image: linear-gradient(to bottom, #44f812, #00fa6c, #00fa9f, #00f8c6, #00f4e1, #2aedea, #4ae6f0, #65dff1, #62d5ef, #62cbeb, #65c1e6, #68b7e0);
}

.title{
    text-align: center;
    margin-bottom: 0%;
}

.navbar{
    border: 2px solid black;
    border-radius:0;
    margin: 0px;
    background-color: #00CCA4;
}

#contenedor_carrusel{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    margin-top: 5%;
}

.carousel-inner img{
    border-radius: 20px;
}

.carousel-item{
    width: 100%;
    height: 30%;
    max-width: 100%;
    max-height: 30%;
}

#contenedor_cartas{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.card{
    display:inline-block;
    width: 30%;
}

footer{
    margin: 30px;

}
a{
    color: black;
    font-size: x-large;
}

.button_especial {
    margin: 20px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-11 {
    border: none;
    background: rgb(33, 109, 251);
    background: linear-gradient(0deg, rgb(33, 109, 251) 0%, rgb(76, 126, 234) 100%);
    color: #fff;
    overflow: hidden;
}

.btn-11:hover {
    text-decoration: none;
    color: #fff;
}

.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:hover {
    opacity: .7;
}

.btn-11:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}
/*FA7070 FBF2CF C6EBC5 A1C298 */

/*E14D2A FD841F 3E6D9C 001253*/