body{
    background-image: url(/img/imgs02/bg_002.jpg);
    background-size: 220px;
}

#separador{
    max-width: 10px;
    max-width: 100%;
    line-height: 6px;
}
#separador2{
    max-height: 10px;
    max-width: 100%;
    margin-top: 50px;

}
#separadornav{
    background-color: black !important;
    max-height: 2px;
    max-width: 100%;
    margin-top: 0px;

}


.containers{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.producto{
    border: 1px solid rgb(255, 196, 0);
    max-width: 200px;
    border: 0px;
}

.boton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(3, 1, 1);
    background-color: #FFC107;
    border: 0px;
    border-bottom: 1px rgb(0, 0, 0) solid;
}

/* .card img{
    border-radius: 122px ;
} */

@keyframes cards{
    0%{
        margin-top: 50px;
    }
    100%{
        margin-top: 0px;
    }
}


.card h2{
    font-family: 'Almarai';
    padding: 8px;
    color: black;
    font-weight: 700;
    font-size: 22px;
}

#productos{

	column-count: 2;
	column-width: 200px;
	padding: 50px;
}
#productos img{
    border-radius: 5px;;
    width: 100%;
	max-width: 100%;
	margin-bottom: 15px;
}


.tituloproductos{

    /* align-items: center;
    margin-left: 90px; */
    background-color: rgb(0, 0, 0,);
    font-family: 'Almarai', sans-serif ;
    font-size: 40px;
    font-weight:900 !important;
    color: #000000;
    transition: all 1s;
    /* line-height: 40px; */
}

.card .descripcion {
    font-family: 'Almarai', sans-serif !important ;
    color: black;
    padding: 10px;
    min-height: 100px;
    max-height: 200px;

}
@keyframes transformar{
    0%{
        transform: rotate(0deg);
        transform: scale(1);
    }
    50%{
        transform: rotate(deg);
        transform: scale(1);
    }
    100%{
        transform: rotate(0deg);
        transform: scale(1);
    }
}


.descripcion p{
    color: red;
    padding: 10px;
}
.card img  {
    max-width: 200px;
    animation-name: cards;
    animation-duration: 1s;
    border-radius: 5px;
    border: 0px solid red;
    transition: 2s;
}

.card img:hover{
    /* animation-name: transformar;
    animation-duration: 1s; */
    /* min-width: 205px; */
    border-radius: 40px;

    transition: .5s;
}

.conocemas {
/* 
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important; */
    margin-left: 40px;

}
.card .precio{
    margin: 0px auto;
    margin-bottom: 15px;
    line-height: 0px;
    font-family: 'Almarai', sans-serif;
    font-size: 20px;
    font-weight:900;
    color: rgb(240, 19, 19);
}

.pie {

    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}

footer {
    padding-top: 0px;
    text-align: center;
    font-family: 'Almarai', sans-serif;
    font-weight: 100;
    background-color: rgb(255, 193, 7, .4);
    color: white !important;
}
.img-fluid{
    display: flex;
    width: 100%;
}
/**inicio fancy header**/
@import url(https://fonts.googleapis.com/css?family=Expletus+Sans:600);
/*==========SCALE-IN==========*/
@-webkit-keyframes scale-in {
     0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1); opacity: 1;}
}

@keyframes scale-in {
    0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1);  opacity: 1;}
}
/*==========ROLL-OUT==========*/
@-webkit-keyframes roll-out {
    100%   {width: 0;}
    100% {width: 100%; }
}
@keyframes roll-out {
    100%   {width: 0;}
    100% {width: 100%; }
}

.footequipo {
    margin-bottom: 1px;
}

.footEquipo p{
    font-weight: 900;
    line-height: 5px;
}

.footEquipo ul{
    padding: 0px;
    display: inline-flex;
    gap: 20px;
}


main{
    
  width: 100%;
  overflow: hidden;
  font-family: 'Expletus Sans', cursive;
}
.hero{
    display: flex;
  width: 100%;
  height: auto;
  text-align: center;
  background: none;
  position: relative; 
  color: #FFC107;
  margin-bottom: 0px;

}

.hero h1{
    color: FFC107;
  font-family: 'Almarai' !important ;
  font-weight: 900;
  margin-left: 20%;
  margin-bottom: 0px;
  display: flex;
  font-size: 4.1em;
  position: absolute; 
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.hero p{
    FFC107
    line-height: 1px;
    display: flex;
    margin-left: 20%;
  font-size: 1.5em;
  position: absolute; 
  top: 202px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.hero img{
    margin: 0px auto;
    width: 944px ;
    /* min-width: 800px;
    max-width: 944px; */
  max-height: 400px;
}
.bar{
    display: flex;
  width: 100%;
  height: 150px;
  background: -moz-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: -webkit-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: -ms-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: linear-gradient(161deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  opacity: 0.3;
  position: absolute; 
  z-index: 0;
  left: 0;
  top: 90px;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
   -webkit-animation: roll-out 1.2s ease-out ;
  -moz-animation: roll-out 1.2s ease-out ;
    animation: roll-out 1.2s ease-out ; 
}
.hero h1, .hero p{
  -webkit-animation: scale-in 1.3s ease-out;
  -moz-animation: scale-in 1.3s  ease-out;
    animation: scale-in 1.3s ease-out; 
}


@media all and (max-width: 100%) {
  .hero{
    height: 50vw;
    text-align: center;
  }
  .bar{
    height: 26vw;
    top: 10vw;
    
  }
  .hero h1{
    font-size: 8vw;
    top: 13vw;
    
  }
  .hero p{
    font-size: 3vw;
    top: 27vw;
    
  }
 
}
/**final fancy header**/
.skitter{
    margin-top: 10px;
    margin: auto;
    background-color:#e80505 ;
    color: beige;
    overflow: hidden ;
    
} 
.slider-1{
    margin-top: 5px;
    justify-content: center;
    overflow: none ;
}

.contacto{
    padding-left: 5%;
}
